*{
    margin: 0;
    padding: 0;
}
/* Main body/area for all elements of the wedsite*/
body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 300px;
    grid-template-rows: 35px 150px 1fr;
    grid-template-areas: 
    "navigationArea navigationArea"
    "counterArea counterArea"
    "clockArea upgradeArea";
}

/* Area for all navigation elements
like upgrades show button settings etc*/
navigationArea {
    top: 0;
    position: sticky;
    grid-area: navigationArea;
    background-color: #ffb6c1; /* pastelowy róż */
    padding: 0.5em;
  }

/* Button to show upgrade area when 
on screen with less than 800px width*/
button.upgradeButton{
    display: none;
    float: right;
}

/* Area for all counters of gained time etc*/
counterArea {
    top: 35px;
    position: sticky;
    grid-area: counterArea;
    background-color: #ffe4e1; /* pudrowy róż */
    padding: 0.5em;
    color: #800040; /* ciemna malina dla kontrastu */
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  

/* Area for all upgrades related stuff*/
upgradeArea {
    height: calc(100vh - 201px);
    top: 185px;
    position: sticky;
    align-self: start;
    grid-area: upgradeArea;
    background-color: #f8c8dc; /* jasny różowo-brzoskwiniowy */
    padding: 0.5em;
  }
  

/* Area for clock that will be clicked*/
clockArea {
    user-select: none;
    grid-area: clockArea;
    background-color: #ffcce0; /* bardzo jasny róż */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

/* Clickable clock button */
img.clockImg{
    pointer-events: none;
    user-select: none;
    width: 60%;
    height: auto;
}

/* Layout of time counters*/
timeArea{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "years hours"
    "months minutes"
    "days seconds";
}
years{
    grid-area: years;
}
months{
    grid-area: months;
}
days{
    grid-area: days;
}
hours{
    grid-area: hours;
}
minutes{
    grid-area: minutes;
}
seconds{
    grid-area: seconds;
}


/*SITE SCALING SETTINGS*/
/* When website has less than 800px width*/
@media only screen and (max-width: 800px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 35px 160px 1fr;
    }

    upgradeArea{
        position: fixed;
        width: 300px;
        display: none;
        height: calc(100vh - 211px);
        top: 195px;
    }
    .show{
        display: block;
    }

    button.upgradeButton{
        display: initial;
    }

    timeArea{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "years"
        "months"
        "days"
        "hours"
        "minutes"
        "seconds";
    }
}


/* When website has more than 2000px width*/
@media only screen and (min-width: 2000px){
    body{
        grid-template-columns: 2fr 600px;
    }
    upgradeArea{
        width: 600px;
        height: calc(100vh - 216px);
    }
    img.clockImg{
        pointer-events: none;
        user-select: none;
        width: 30%;
        height: auto;
    }
}

/*Nakładka ustawienia */
.hidden {
  display: none;
}

#settingsPanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; /* na wierzchu */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.settings-box {

  